@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Red+Hat+Display&family=Source+Sans+Pro:wght@300&display=swap');

.body {
font-family: 'Montserrat', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }